.container {
  width: 800px;
  margin: 200px auto 0;
  text-align: center;
}

.container .message {
  color: RGBA(31, 150, 243, 1);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 125px;
  font-weight: 900;
  margin-bottom: 20px;
}

.container .submessage {
  color: RGBA(31, 150, 243, 1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-weight: 900;
}

body > .footer {
	position: fixed;
	bottom: 0;
}

body > .footer .tooltip {
	position: absolute;
	padding: 8px 15px;
	border: solid 1px #E6E6E6;
	border-bottom-width: 3px;
	border-radius: 5px;
	font-size: 22px;
	font-weight: bold;
	font-family: Bariol;
	color: #2096F3;
	display: inline-block;
	background: #fff;
	margin-left: 10px;
  margin-top: -55px;
}

body > .footer .tooltip:before {
	position: absolute;
	bottom: -9px;
	left: 50%;
	margin-left: -3.5px;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #E6E6E6;
	content: "";
}