.container {
  width: 800px;
  margin: 200px auto 0;
  text-align: center;
}

.container .message {
  font-family: Bariol, sans-serif;
  color: RGBA(31, 150, 243, 1);
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 125px;
  font-weight: 900;
  margin-bottom: 20px;
}

.container .submessage {
  font-family: Bariol, sans-serif;
  color: RGBA(31, 150, 243, 1);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 40px;
  font-weight: 900;
}