<% include ../includes/start.ejs %>
<div class="container">
	<img class="header" src="/images/logo.png"/>
	<div class="cards">
		<div class="card left" style="background-image: url(http://goo.gl/wzYIWf)"></div>
		<div class="vs">OR</div>
		<div class="card right" style="background-image: url(http://goo.gl/wzYIWf)"></div>
	</div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
