<% include ../includes/start.ejs %>
<img class="logo" src="/images/logo.png"/>
<div class="interests <%= user.interested %>">
	<img class="male" src="/images/male.png"/>
	<img class="female" src="/images/female.png"/>
</div>
<div class="container">
	<div class="header">
		Which photo looks better?
	</div>
	<div class="cards">
		<div class="card left">
			<div class="results"></div>
		</div>
		<div class="card right">
			<div class="results"></div>
		</div>
		<div class="vs">OR</div>
		<div class="keys left">
			<div class="key">←</div>
		</div>
		<div class="keys right">
			<div class="key">→</div>
		</div>
	</div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>