<div class="footer">
	<!-- TODO: Change to "/ios" when iOS is live. -->
	<div class="tooltip">coming soon</div>
	<img class="disabled" src="/images/ios-banner.png"/>
	<a href="/android">
		<img src="/images/android-banner.png"/>
	</a>
</div>
